<!-- Loading spinner -->
<div class="spinner-border align-middle" *ngIf="!loaded">
    <span class="sr-only">Loading...</span>
</div>

<div class="container" *ngIf="loaded">
    <div class="row">
        <!-- Film -->
        <div class="d-flex flex-lg-column">
            <div class="card">
                <img class="card-img mx-auto" src="{{film.url}}" alt="Image for film or tv show">
                <div class="card-img-top">
                    <h4 class="card-title">{{film.original_title}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Release date: {{film.release_date}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Average score: {{film.vote_average}}/10</h6>
                    <p class="card-text">
                        {{film.overview}}
                    </p>
                </div>
            </div>
        </div>
        <!-- Review -->
        <div class="d-flex flex-lg-column">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Write a review for {{film.original_title}}.</h4>
                    <form>
                        <div class="form-group">
                            <label for="reviewContent"></label>
                            <textarea type="text" name="reviewContent" class="form-control review"
                                placeholder="Write your review here..." [(ngModel)]="reviewContent" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="reviewRating">Rating</label>
                            <input type="text" name="reviewRating" class="form-control" placeholder="Rating (out of 10)"
                                [(ngModel)]="reviewRating" required>
                        </div>
                        <div class="d-flex justify-content-sm-between mt-sm-3">
                            <button type="submit" class="btn btn-success" (click)='createReview()'>Submit
                                review</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>