<!-- Loading spinner -->
<div class="d-flex justify-content-center m-5" *ngIf="!loaded">
    <div class="spinner-border">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="container" *ngIf="loaded">
    <div class="row">
        <!-- Film -->
        <div class="d-flex flex-lg-column">
            <div class="card">
                <img class="card-img mx-auto" src="{{film.url}}" alt="Image for film or tv show">
                <div class="card-img-top">
                    <h4 class="card-title">{{film.original_title}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Release date: {{film.release_date}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Average score: {{film.vote_average}}/10</h6>
                    <p class="card-text">
                        {{film.overview}}
                    </p>
                </div>
            </div>
        </div>
        <!-- Write a Review -->
        <div class="d-flex flex-lg-column">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Write a review for {{film.original_title}}.</h4>
                    <form>
                        <div class="form-group" *ngIf="isLoggedIn()">
                            <label for="reviewContent"></label>
                            <textarea type="text" name="reviewContent" class="form-control"
                                placeholder="Write your review here..." [(ngModel)]="reviewContent" required></textarea>
                        </div>
                        <div class="form-group"*ngIf="isLoggedIn()">
                            <label for="reviewRating">Rating</label>
                            <input type="number" name="reviewRating" class="form-control"
                                placeholder="Rating (out of 10)" [(ngModel)]="reviewRating" min="0" required>
                        </div>
                        <div class="d-flex justify-content-sm-between mt-sm-3" *ngIf="isLoggedIn()">
                            <button type="submit" class="btn btn-success" (click)='createReview()'>Submit
                                review</button>
                        </div>
                        <div class="d-flex justify-content-sm-between mt-sm-3" *ngIf="!isLoggedIn()">
                            <label for="login">To leave a review, please log in</label>
                            <a class="nav-link" routerLink="/login">Log in</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Reviews -->
    <div class="row">
        <div class="d-flex flex-lg-column">
            <h5>Reviews</h5>
            <div class="card-columns">
                <div class="review card clickable" *ngFor="let review of reviews">
                    <div class="media" (click)="viewReview(review)">
                        <img class="d-flex mr-3 review-img" src="{{film.url}}" alt="Image for film or tv show">
                        <div class="media-body">
                            <h5 class="mt-0">{{review.movieName}} review - {{review.score}}/10 </h5>
                            <p>{{review.content}}</p>
                            <h6>{{review.authorName}}</h6>
                            <h6>{{review.date | date:'short'}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>