.container {
    max-width: 1200px;
    padding: 2vh;
}

.flex-lg-column {
    padding: 2vh;
}

.card-img {
    max-width: 50%;
    max-height: 30vw;
    object-fit: contain;
    padding-bottom: 2vh;
}

.card {
    max-width: 600px;
    padding: 2vh;
}

.review {
    margin: 2vh;
}

.reviewInput{
    min-height: 300px;
}

.review-img {
    max-width: 64px;
}

.thumbs-btn {
    vertical-align: middle;
    line-height: 2vh;
    padding: 1vh;
}

.icon{
    vertical-align: middle;
    margin-left: 1vh;
}