.container {
    max-width: 1200px;
    padding: 2vh;
}

.flex-lg-column {
    padding: 2vh;
}

.card-img {
    max-width: 50%;
    max-height: 30vw;
    object-fit: contain;
    padding-bottom: 2vh;
}

.card {
    max-width: 600px;
    padding: 2vh;
}

.review {
    margin: 2vh;
}

.review-img {
    max-width: 64px;
}