<nav class="navbar navbar-inverse navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">
    <img src="./assets/favicon.png" width="30" height="30" class="d-inline-block align-top" >
    Auteur
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" *ngIf="!isLoggedIn()">Log in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" *ngIf="!isLoggedIn()">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile" *ngIf="isLoggedIn()">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isLoggedIn()" (click)="logOut()">Log out</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" name="searchBar" type="search" placeholder="Search films, tv..." [(ngModel)]="searchTerm" required>
      <button class="btn btn-outline-primary my-2 my-sm-0 navbar-btn" (click)="search()" type="submit">Search</button>
    </form>
  </div>
</nav>