<div class="d-flex justify-content-center m-sm-5">
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Intelligent suggestions.</h4>
                <p class="card-text">With the power of Google's Machine Learning platform, get recommendations that
                    suits you more over time.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Unleash your inner critic.</h4>
                <p class="card-text">Powered by The Movie DB, share films and TV shows with your friends and 
                    let them know what you think.
                </p>
            </div>
        </div>
    </div>
</div>