<div class="container">
    <div class="card bg-dark text-white intro">
        <div class="card-body">
            <h4 class="card-title">Become an Auteur, and share your love of film</h4>
            <p class="card-text">Create a profile and start reviewing today.</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4 class="text-white">Popular films</h4>
            <div class="card-columns">
                <div class="card clickable text-white bg-dark" *ngFor="let film of popularFilms" (click)="viewFilm(film.id)">
                    <img class="card-img-top" src="{{film.url}}" alt="Image for film">
                    <div class="card-body" id="{{film.title}}">{{film.title}}</div>
                </div>
            </div>
        </div>
        <div class="col">
            <!-- TODO: Helpful reviews -->
        </div>
    </div>
</div>